---
- name: Upgrade OS
  include_tasks: upgrade_debian.yml
  when: upgrade_os

- name: Configure system
  include_tasks: configure_system.yml

- name: Create user
  include_tasks: create_user.yml
  loop: "{{ vars.target_users | dict2items }}"
