---
- name: Update apt repo and cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade all packages on servers
  apt:
    upgrade: dist

- name: Install common packages
  apt:
    name:
      - zsh
      - git
      - curl
      - neovim
      - htop
    state: present

- name: Check if a reboot is needed
  register: reboot_required_file
  stat:
    path: /var/run/reboot-required

- name: Reboot if kernel updated
  reboot:
    reboot_timeout: 300
    post_reboot_delay: 5
  when: reboot_required_file.stat.exists
